.App {
  text-align: center;
}

.app__logo{
  display: flex;
  align-items: center;
  justify-content: center;

}
.app__image{
  margin: 10px;
}

.app__form{
  padding: 20px ;
  position: fixed;
  margin: 20px;
  bottom:0;
  width: 92vw;
  background-color: #e9e9eb;
  z-index: 1;
  border-radius: 10px;
}

.app__formControl{
  
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start;
  justify-content: space-between;
}

.app__input{
  flex:1;
}

